<div fxLayout="column">
  <md-toolbar color="primary">
    <span fxFlex>Photo Bucket</span>
    <span>{{authService.displayNameStream | async}}</span>
    <button *ngIf="authService.isSignedInStream | async" md-icon-button [mdMenuTriggerFor]="signOutMenu">
    <md-icon>more_vert</md-icon>
  </button>
    <md-menu [overlapTrigger]="false" #signOutMenu="mdMenu">
      <button md-menu-item (click)="authService.signOut()">Sign Out</button>
    </md-menu>
  </md-toolbar>
  <div fxLayoutAlign="center center">
    <div class="container" fxFlex fxFlex.md="960px" fxFlex.gt-md="1100px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
