<h1 md-dialog-title>{{title}}</h1>
<form #photoForm="ngForm" fxLayout="column" fxLayoutAlign="none stretch" (ngSubmit)="onSubmit()">
  <md-dialog-content fxFlex="100" fxLayout="column" fxLayoutAlign="none stretch">
    <md-input-container>
      <input mdInput type="text" required placeholder="Add an existing photo URL" name="imageUrl" [(ngModel)]="formPhoto.imageUrl">
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="end center">
      <span fxFlex.gt-xs="225px"></span>
      or
      <button md-raised-button id="upload-btn" type="button">Upload an image</button>
    </div>
    <md-input-container>
      <input mdInput type="text" placeholder="Caption" name="caption" [(ngModel)]="formPhoto.caption">
    </md-input-container>
  </md-dialog-content>

  <md-dialog-actions fxLayoutAlign="end center">
    <button md-button type="button" md-dialog-close>Cancel</button>
    <button md-button type="submit" [disabled]="!photoForm.form.valid">Save</button>
  </md-dialog-actions>
</form>

